<h3>Add Player</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="playersaveform" #saveplayer (ngSubmit)="savePlayer(savePlayer)">
          <div class="form-group">
              <label for="name">Player Name</label>
              <input type="text" class="form-control"  formControlName="player_name" data-toggle="tooltip" 
                 data-placement="right" title="Enter Player Name" >
              <div class="alert alert-danger" *ngIf = "(PlayerName.touched) && (PlayerName.invalid)" 
                style="margin-top: 5px;">
                  <span *ngIf="PlayerName.errors.required">Player Name is Required</span>
                    <span *ngIf = "PlayerName.errors.minlength"> 
                        MinLength Error 
                    </span>                   
                </div>
          </div>
  
          <div class="form-group">
              <label for="name">Player Email</label>
              <input type="text" class="form-control" formControlName="player_email" 
                data-toggle="tooltip" data-placement="right" title="Enter Player Email">
                <div class="alert alert-danger" *ngIf = "(PlayerEmail.touched) && (PlayerEmail.invalid)" 
                style="margin-top: 5px;">
                  <span *ngIf="PlayerEmail.errors.required">Player Email is Required</span>
                    <span *ngIf = "PlayerEmail.errors.email"> 
                        Invalid Email Format 
                    </span>                   
                </div>
          </div>
  
          <div class="form-group">
              <label for="branch">Player Role</label>
                <select class="form-control" formControlName="player_role" data-toggle="tooltip" 
                      data-placement="right" title="Select Player Role">
                    <option value="null">--Select Role--</option>
                  <option value="B-Tech">Boller</option>
                  <option value="BCA">Batsman</option>
                  <option value="MCA">keeprt</option>
                  <option value="M-Tech">Allrounder</option>
                </select>
          </div>
  
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>player Added SuccessFully!</h4>
         <button (click)="addPlayerForm()" class='btn btn-primary'>Add More players</button>
      </div>      
  </div>
  <div class="col-sm-4"></div>
</div>


